<div class="container main-banner main-banner-section-marg">
    <div class="nopad-mobile margin-menu-top-mobile" style="margin-top: 60px">
        <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="banner-h1">
                                        Zapisy na zawody<br />w Olandii 2023
                                    </h1>
                                    <p class="banner-p">
                                        Zapraszamy wszystkich do zapisania się
                                        na zawody<br />w Olandii 2022!
                                    </p>
                                </div>

                                <div class="col-12">
                                    <div class="row home-slider-button-mobile">
                                        <!-- <div class="col-12 col-lg-6"> -->
                                        <div class="carousel-item-button-box">
                                            <a
                                                href="#"
                                                class="secondary-button-banner d-flex justify-content-center"
                                                >ZAPISZ SIE NA ZAWODY</a
                                            >
                                            <!-- </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div> -->
                                            <a
                                                href="#"
                                                class="primary-button-banner d-flex justify-content-center mobile-tm-10 mobile-bm-10"
                                                >DOWIEDZ SIĘ WIĘCEJ</a
                                            >
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5 home-slider-img-mobile">
                            <img
                                class="main-img"
                                src="{{ asset('build/images/img-1.png') }}"
                            />
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="banner-h1">
                                        Zapisy na zawody<br />w Olandii 2023
                                    </h1>
                                    <p class="banner-p">
                                        Zapraszamy wszystkich do zapisania się
                                        na zawody<br />w Olandii 2022!
                                    </p>
                                </div>

                                <div class="col-12">
                                    <div class="row home-slider-button-mobile">
                                        <div class="carousel-item-button-box">
                                            <a
                                                href="#"
                                                class="secondary-button-banner d-flex justify-content-center"
                                                >ZAPISZ SIE NA ZAWODY</a
                                            >
                                            <a
                                                href="#"
                                                class="primary-button-banner d-flex justify-content-center mobile-tm-10 mobile-bm-10"
                                                >DOWIEDZ SIĘ WIĘCEJ</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5 home-slider-img-mobile">
                            <img
                                class="main-img"
                                src="{{ asset('build/images/img-1.png') }}"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-target="#carouselExampleControls"
                data-slide="prev"
            >
                <span class="prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-target="#carouselExampleControls"
                data-slide="next"
            >
                <span class="next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
</div>
