<div class="container main-banner main-banner-section-marg">
    <div class="col-12 nopad">
        <div class="breadcrumbs-cont">
            <ol>
                <li>
                    <a href="#" class="main-page"> Strona głowna </a>
                </li>
                <li>
                    <a href="#" class="link-page"> Szkolenia </a>
                </li>
                <li>
                    <a href="#" class="link-page"> Nordic Walking </a>
                </li>
                <li>
                    <a class="currect-page"> Instruktor </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="container nopad-mobile" style="margin-top: 40px">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col-12">
                        <h1 class="banner-h1">Materiały do pobrania</h1>
                        <p>
                            Skorzystaj z naszej zaawansowanej wyszukiwarki aby
                            znaleźć szkolenie, które Ciebie interesuje.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8 right-frame-img right-bcg">
                <img
                    src="{{ asset('build/images/s22.svg') }}"
                    class="mx-auto d-block"
                    style="padding: 20px"
                />
            </div>
        </div>
    </div>
</div>
