{% extends 'base.html.twig' %} {% block title %}Kontakt{% endblock %} {%block
headerBaner %} {% include 'contact/headerBaner.html.twig' %} {% endblock %}
{%block content %}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="contact-tab-margin-right">
                <h2>Najczęściej zadawane pytania</h2>
                <p>
                    Zanim skorzystasz z formularza kontaktowego sprawdź nasze
                    najcześciej zadawane pytania, może tutaj znajdziesz
                    opdowiedź na nurtującą Cię kwestię.
                </p>
            </div>
        </div>

        <div class="col-12 col-lg-8 offset-lg-2" style="margin-top: 35px">
            <div class="contact-tab-margin-right">
                <div class="accordion" id="accordionExample">
                    <div class="list-down-style-wrap">
                        <div class="accordion-header" id="headingOne">
                            <h5 class="mb-0">
                                <button
                                    class="list-down-style contact-tab-collapse accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="false"
                                    aria-controls="collapseOne"
                                >
                                    <span>Jak i gdzie można się zapisać?</span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                    >
                                        <path
                                            d="M2 7L12 17L22 7"
                                            stroke="#39B715"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </button>
                            </h5>
                        </div>

                        <div
                            id="collapseOne"
                            class="collapse accordion-collapse"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    <div class="list-down-style-wrap">
                        <div class="accordion-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button
                                    class="list-down-style contact-tab-collapse accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                >
                                    <span>Jak i gdzie można się zapisać?</span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                    >
                                        <path
                                            d="M2 7L12 17L22 7"
                                            stroke="#39B715"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </button>
                            </h5>
                        </div>

                        <div
                            id="collapseTwo"
                            class="collapse accordion-collapse"
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    <div class="list-down-style-wrap">
                        <div class="accordion-header" id="headingThree">
                            <h5 class="mb-0">
                                <button
                                    class="list-down-style contact-tab-collapse accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                >
                                    <span>Jak i gdzie można się zapisać?</span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                    >
                                        <path
                                            d="M2 7L12 17L22 7"
                                            stroke="#39B715"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </button>
                            </h5>
                        </div>

                        <div
                            id="collapseThree"
                            class="collapse accordion-collapse"
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    <div class="list-down-style-wrap">
                        <div class="accordion-header" id="headingFour">
                            <h5 class="mb-0">
                                <button
                                    class="list-down-style contact-tab-collapse accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                >
                                    <span>Jak i gdzie można się zapisać?</span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                    >
                                        <path
                                            d="M2 7L12 17L22 7"
                                            stroke="#39B715"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </button>
                            </h5>
                        </div>

                        <div
                            id="collapseFour"
                            class="collapse accordion-collapse"
                            aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod
                                high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard
                                dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim
                                keffiyeh helvetica, craft beer labore wes
                                anderson cred nesciunt sapiente ea proident. Ad
                                vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="contact-tab-margin-right">
                <p>
                    Nie znalazłeś odpowiedzi na nurtujące Cię pytania?
                    Skorzystaj z naszego formularza kontaktowego poniżej lub
                    przejdź na stronę FAQ w celu zobaczenia wszystkich pytań
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container contact-form-box-margin">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="contact-form-box">
                <div class="row contact-text-wrap">
                    <div class="contact-form-box-img">
                        <img
                            src="{{ asset('build/images/contact-form.png') }}"
                        />
                    </div>
                    <div class="col-12">
                        <h3>Formularz kontaktowy</h3>
                        <p>
                            Nasz ekspert doradzi i odpowie na wszystkie
                            nurtujące pytania. Napisz a my pomożemy Ci z każdym
                            problemem.
                        </p>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div
                                class="col-12 col-lg-6"
                                style="margin-top: 20px"
                            >
                                <input
                                    type="TEXT"
                                    class="form"
                                    id="name"
                                    name="name"
                                    placeholder="IMIĘ"
                                />
                            </div>

                            <div
                                class="col-12 col-lg-6"
                                style="margin-top: 20px"
                            >
                                <input
                                    type="email"
                                    class="form mobile-tm-10"
                                    id="email"
                                    name="email"
                                    placeholder="ADRES EMAIL"
                                />
                            </div>

                            <div
                                class="col-12 col-lg-6"
                                style="margin-top: 20px"
                            >
                                <input
                                    type="TEXT"
                                    class="form"
                                    id="phone"
                                    name="phone"
                                    placeholder="TELEFON"
                                />
                            </div>

                            <div
                                class="col-12 col-lg-6"
                                style="margin-top: 20px"
                            >
                                <select class="option-drop-down">
                                    <option value="">TEMAT</option>
                                    <option value="1">
                                        Instruktor Nordic Walking
                                    </option>
                                    <option value="2">
                                        Instruktor Nordic Walking
                                    </option>
                                    <option value="3">
                                        Instruktor Nordic Walking
                                    </option>
                                    <option value="4">
                                        Instruktor Nordic Walking
                                    </option>
                                    <option value="5">
                                        Instruktor Nordic Walking
                                    </option>
                                </select>
                            </div>

                            <div class="col-12 textarea">
                                <textarea
                                    rows="4"
                                    cols="50"
                                    class="email-text"
                                    id="message"
                                    name="message"
                                    placeholder="WIADOMOŚĆ"
                                >
                                </textarea>

                                <script>
                                    const textarea =
                                        document.getElementById("message");

                                    textarea.value = "";

                                    const btn = document.getElementById("btn");

                                    btn.addEventListener(
                                        "click",
                                        function handleClick() {
                                            console.log(textarea.value);

                                            textarea.value = "";
                                        }
                                    );
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 nopad-r">
                        <div class="accept-button">
                            <div class="radio-div-2">
                                <label
                                    class="radio-in-accept"
                                    style="margin-top: 15px"
                                >
                                    <input type="checkbox" name="radio" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span
                                class="accept-text-3"
                                style="padding-top: 15px"
                                >Akceptuję <a href="#">Regulamin</a> i
                                <a href="#">Politykę Prywatności</a> *</span
                            >
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <input
                            type="submit"
                            value="WYŚLIJ WIADONOŚĆ"
                            class="blue-button float-right"
                            style="border: none; margin-top: 15px"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
